/test/integration/end_user/test_dojo_work/locustfile.pyc
**/imagerc*
**/*.html

docker-ops
releaser
Dojofile.to_be_tested_configs
Dojofile.to_be_tested
Dojofile.example
example-pythonide2/dist
example-pythonide2/build
MANIFEST
*.egg
*.egg-info
*.pyc
*.tar.gz
/image/Dockerfile.py*
/test/integration/identities/real/.gitconfig
/test/integration/identities/real/.ssh/id_rsa
