/test/integration/end_user/test_ide_work/locustfile.pyc
**/imagerc*
**/*.html

docker-ops
releaser
Idefile.to_be_tested_configs
Idefile.to_be_tested
example-pythonide2/dist
example-pythonide2/build
MANIFEST
